<div class="container"> 
    <div class="bg-image img1">
   
<% if  (typeof numeLogat != 'undefined')  { %>
    <br>
    <br>
    <br>
    <br>
    <br>
<h1>Bine ai venit, <%= numeLogat %> !</h1>
<% } else { %>
    <br>
    <br>
    <br>
    <br>
    <br>
 <h1 id="ind"> BINE AI VENIT!</h1>
<% } %>  
</div>