<div class="container">
<div class="bg-image list">
    
    <% if  (typeof numeLogat != 'undefined')  { %>
        <div class="liist">
            <div class="row">
                <div class="column">
                    <form action="erza.html" method='GET'>
                        <input type = "submit"  name = "submit" value = "" id="imgb0" />
                    </form>
                </div>
                
                <div class="column">
                    <form action="sasuke.html" method='GET'>
                        <input type = "submit"  name = "submit" value = "" id="imgb2" />
                    </form>
                </div>

                <div class="column">
                    <form action="mikasa.html" method='GET'>
                        <input type = "submit"  name = "submit" value = "" id="imgb3" />
                    </form>
                </div>

                <div class="column">
                    <div id="timp" >
                        <p id="date">Data:</p> 
                        
                        <p id="time">Ora: </p>
                    </div>
                    <button id="b2" onclick="loadDoc()"> Vezi intrega lista de personaje </button>
                    <table id="charTable"></table>
                </div>

                <div class="column">

                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
            </div>

            
            
        </div>

    <% } else { %>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 id="lis"> Trebuie sa va autentificati!</h1>
                    
    <% } %>   

</div>     
       
</div>